/* SAP Fiori Icons */
content-type: text/css;

@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://grmsac.github.io/CustomFontsSAC/SAP-icons.woff2') format('woff2'),
		url('https://grmsac.github.io/CustomFontsSAC/SAP-icons.woff') format('woff'),
		url('https://grmsac.github.io/CustomFontsSAC/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
